section.social-share, section.social-share.is-admin{
    position:relative;
    .content-row{
        .container{
            .row{
                display:flex;
                align-items:center;
                z-index:1;
                position:relative;
                flex: 0 0 100%;
                max-width:100%;
                @media screen and (max-width:767px){
                    flex: 0 0 100%;
                    max-width:100%;
                }
                .social-share--wrapper {
                    display: flex;
                    flex-wrap: wrap;
                    flex: 0 0 41.6%;
                    max-width: 41.6%;
                    margin: 15px 0;
                    gap: 5%;
                    align-items: center;
                    @media only screen and (max-width: 767px) {
                        flex: 0 0 100%;
                        max-width: 100%;
                        margin: 0 15px;
                    }
                    p {
                        margin: 0;
                    }
                    .socials {
                        display: flex;
                        justify-content: space-between;
                        flex: 0 0 8.33%;
                        max-width: 8.33%;
                        gap: 15px;
                            a {
                                color: #FFA400;
                                text-decoration: none;
                                &:hover {
                                    color: #fff;
                                }
                            }
                        }
                    .social-div-1,
                    .social-div-3,
                    .social-div-5 {
                        background: #efefef;
                        padding: 24px;
                        border-radius: 6px;
                        height: 25px;
                        width: 25px;
                        justify-content: center;
                        align-items: center;
                        display: flex;
                        &:hover {
                            background: #FFA400;
                        }
                    }
                }
            }
        } 
    }
}

.hide {
    display: none;
}